<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<th:block layout:fragment="styles">
    <link rel="stylesheet/less" type="text/css" href="/css/home.less">
</th:block>

<body>

<div layout:fragment="content" class="main-content">
    <div class="title-container">
        <h1 th:text="${projectTitle}" id="project-title">Spring Boot Discovery Project</h1>
    </div>
    <div class="home-content">
        <div th:text="'Bienvenue ' + ${session.userNickname}" id="welcome-message"></div>
        <a class="login-link" href="login">Se connecter</a>
    </div>
</div>



</body>
</html>