<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<th:block layout:fragment="styles">
    <link rel="stylesheet/less" type="text/css" href="/css/sign-up.less">
</th:block>

<body>

<div layout:fragment="content" class="main-content">
    <div th:if="${attributeConstraintNotRespected != null}" th:text="${attributeConstraintNotRespected}" class="error-login-alert">

    </div>

    <div class="login-container sign-up-container">
        <h2 class="login-title">Créer un compte</h2>

        <form th:action="@{/try-sign-up}" method="post">
            <div class="form-info-container">
                <label>Adresse Mail:</label>
                <input type="text" name="mailAddress">
            </div>

            <div class="form-info-container">
                <label>Nom d'utilisateur:</label>
                <input type="text" name="nickname">
            </div>

            <div class="form-info-container">
                <label>Mot de passe:</label>
                <input type="password" name="password">
            </div>

            <button type="submit" class="login-valid">Connexion</button>
        </form>
    </div>
</div>


<!--
<th:block layout:fragment="scripts">
    <script src="js/.js" type="text/javascript"></script>
</th:block>
-->
</body>
</html>

